/* DC5F00, 373A40, 686D76, EEEEEE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    overflow: hidden;
}

header {
    grid-column: 1 / -1;
    background-color: #edf9ff;
    color: #373A40;
    padding: 20px;
    position: relative;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: #000000;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: #000000;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: #000000;
}

p {
    text-align: justify;
    margin-bottom: 0.8em;
}

pre {
    font-size: 0.9em;
    background-color: #FFFFFF;
    color: #686D76;
    padding: 15px;
    width: 280px;
    border-radius: 5px;
    overflow-x: auto;
    line-height: 1.4;
}

aside {
    background-color: transparent;
    padding: 20px;
    overflow-y: auto;
    z-index: 2;
}

.control-panel {
    background-color: #edf9ff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

main {
    padding: 0;
    display: flex;
    margin-left: -300px;
    margin-right: -300px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 1;
}
