ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    font-size: 0.8em;
}

li span {
    display: inline-block;
    flex-grow: 1;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden; 
    margin-right: 10px;
    padding: 4px;
    max-width: 160px;
    white-space: nowrap;
}

.uploadButton {
    background-color: rgba(171, 206, 48);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
    width: 30px;
    display: inline-block;
}

.deleteButton {
    background-color: rgba(250, 26, 13);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
    width: 30px;
}

.loadExampleButton {
    background-color: rgba(171, 206, 48);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
    width: 140px;
    float: right;
}

.deleteButton:hover {
    background-color: #d53f3f;
}

.uploadButton:hover {
    background-color: #388E3C;
}

.loadExampleButton:hover {
    background-color: #388E3C;
}

input[type="file"] {
    display: none;
}
