/* DC5F00, 373A40, 686D76, EEEEEE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

header {
    grid-column: 1 / -1;
    background-color: #EEEEEE;
    color: #373A40;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure position is relative for the pseudo-element */
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: #DC5F00;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: #DC5F00;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: #DC5F00;
}

p {
    text-align: justify;
    margin-bottom: 0.8em;
}

pre {
    font-size: 0.9em;
    background-color: #FFFFFF;
    color: #686D76;
    padding: 15px;
    width: 260px;
    border-radius: 5px;
    overflow-x: auto;
    line-height: 1.4;
}

aside {
    background-color: #FFFFFF;
    padding: 20px;
    overflow-y: auto;
}

main {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    overflow: hidden;
}

canvas {
    display: block;
}
